In [52]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.patches as mpatches
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import datetime 
from pandas import Timestamp
# from datetime import timedelta

file_to_load = "./angeles_parking/parking.csv"


#Read Purchasing File and store into Pandas data frame
data_tickets = pd.read_csv(file_to_load)
data_tickets.head(2)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0

In [77]:
# print(data_tickets['Issue Date'].isna().sum())

# (Basically convert the NA/NAn on ceros at the column Issue Data )
data_tickets['Issue Date'].fillna(0, inplace=True)

#convert str to dtype
data_tickets['Issue Date'] = data_tickets['Issue Date'].astype(str)

#Get all items star with 2018 at Issu Date 
data_tickets_2015 = data_tickets[data_tickets['Issue Date'].str.contains("2018")]


# This stackoverflow has useful info relating to str.contains with multiple criteria
# https://stackoverflow.com/questions/26577516/how-to-test-if-a-string-contains-one-of-the-substrings-in-a-list
data_tickets_2015.sample(5)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
6905388,4325527415,2018-02-07T00:00:00,1301.0,NaN,NaN,CA,201804.0,NaN,NISS,PA,SL,3010 12TH ST W,00531,55.0,80.69BS,NO PARK/STREET CLEAN,73.0,6.468786e+06,1.840367e+06
7268053,4329402490,2018-04-17T00:00:00,1131.0,PW231,NaN,CA,201809.0,NaN,TOYT,PA,BK,10901 PICO BL W,00102,51.0,88.13B+,METER EXP.,63.0,6.431556e+06,1.837090e+06
7517970,4332127542,2018-05-18T00:00:00,1252.0,NaN,NaN,CA,201905.0,NaN,TOYT,PA,RD,1201 5TH ST E,6T8,56.0,80.69A+,STOP/STAND PROHIBIT,93.0,6.483074e+06,1.842165e+06
7232582,4328008145,2018-04-18T00:00:00,738.0,NaN,NaN,CA,201901.0,NaN,TOYT,PA,GY,301 E111TH ST,00500,55.0,80.69BS,NO PARK/STREET CLEAN,73.0,9.999900e+04,9.999900e+04
8433365,4343187181,2018-11-11T00:00:00,1305.0,NaN,NaN,CA,201906.0,NaN,BUIC,PA,GY,8194 GOULD AVE,00408,54.0,80.72,RED FLAG DAY,68.0,6.450076e+06,1.861832e+06

In [78]:
# count unique values 
violation_count = data_tickets_2015["Violation code"].value_counts()

#Get the 10 tops 
violation_count.nlargest(10)

80.69BS     580848
88.13B+     292067
80.56E4+    155595
80.58L      143105
5204A-      123414
80.69B       88601
80.69C       62677
5200         58525
80.56E1      39972
80.69AP+     35850
Name: Violation code, dtype: int64

In [88]:

bins = [0, 59, 159, 259, 359, 459, 559, 659, 759, 859, 959, 1059, 1159, 1259, 1359, 1459, 1559, 1659, 1759, 1859, 1959, 2059, 2159, 2259, 2359]
group_names = ['12am-1am', '1am-2am', '2am-3am', '3am-4am', '4am-5am', '5am-6am', '6am-7am', '7am-8am', '8am-9am', '9am-10am', '10am-11am', '11am-12pm', '12pm-1pm', '1pm-2pm', '2pm-3pm', '3pm-4pm', '4pm-5pm', '5pm-6pm', '6pm-7pm', '7pm-8pm', '8pm-9pm', '9pm-10pm', '10pm,11pm', '11pm-12am']
data_tickets_2015["Time Day"] = pd.cut(data_tickets_2015["Issue time"], bins, labels=group_names)

hrs_group_demo = data_tickets_2015["Time Day"].value_counts()
# tickets_x_hrs = data_tickets_2015.groupby("Time Day")
total_viola_cout = tickets_x_hrs ["Violation code"].value_counts()
# total_viola_cout


df = pd.DataFrame(hrs_group_demo)
df



# sumamry = pd.DataFrame({"Tickets Count": [hrs_group_demo],
#                         "Average Purchase Price": [total_viola_cout]})



# hrs_group_demo.nlargest(10)

/Users/aracelymendoza/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

           Time Day
8am-9am      257580
12pm-1pm     256811
10am-11am    245159
11am-12pm    171089
9am-10am     130710
1pm-2pm      121081
4pm-5pm       89380
2pm-3pm       87540
5pm-6pm       64285
6pm-7pm       63971
3pm-4pm       60987
7pm-8pm       55666
1am-2am       47718
2am-3am       47079
7am-8am       46360
8pm-9pm       39223
10pm,11pm     32371
9pm-10pm      31968
6am-7am       30078
3am-4am       29620
4am-5am       27541
11pm-12am     21566
12am-1am      21240
5am-6am       19192

In [67]:
data_tickets_2015.info()

# weeks = [g for n, g in spli_data_months.groupby(pd.Grouper(key='Issue Date',freq='W'))]
# months = [g for n, g in spli_data_months.groupby(pd.Grouper(key='Issue Date',freq='M'))]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1998770 entries, 4044488 to 9102624
Data columns (total 20 columns):
Ticket number            object
Issue Date               object
Issue time               float64
Meter Id                 object
Marked Time              float64
RP State Plate           object
Plate Expiry Date        float64
VIN                      object
Make                     object
Body Style               object
Color                    object
Location                 object
Route                    object
Agency                   float64
Violation code           object
Violation Description    object
Fine amount              float64
Latitude                 float64
Longitude                float64
Time Day                 category
dtypes: category(1), float64(7), object(12)
memory usage: 306.9+ MB

In [ ]:
# data_tickets["year"]=pd.DatetimeIndex(data_tickets["Issue Date"]).year
# dates = data_tickets["Issue Date"].str.split("T", n=1, expand=True)
# data_tickets["Issue Date"] = dates[0]